*{
    margin: 0;
    padding: 0;
    text-align:center;
}
/* Heading */
h1{
        background-color: #081b31;
        color: #fff;
        height: 5rem; /* 100px */
    line-height: 5rem;
}
/* For Images */
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
        cursor: pointer;
        background-color: #081b31;
}
/* Individual Images */
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%; /* To Make Them Circle */
}
.choices{
    display: flex; /* jaise Voh Ek Row Ma Aajyga */
    justify-content: center; 
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
/* For Score Board */
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; /* 40px */
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 4rem;
}

/* For At The End Message */
#msg{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 5rem;
}